<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Cliente</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/registro.css' %}">
</head>
<body>
    <div class="container">
        <h2>Registro de Cliente</h2>
        <form action="{% url 'registro' %}" method="post">
            {% csrf_token %}
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required>
            
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" required>
            
            <label for="dni">DNI:</label>
            <input type="text" name="dni" required>

            <label for="fecha_nacimiento">Fecha de nacimiento:</label>
            <input type="date" name="fecha_nacimiento" required>
            
            <label for="correo">Correo electrónico:</label>
            <input type="email" name="correo" required>
            
            <label for="telefono">Teléfono móvil:</label>
            <input type="tel" name="telefono" required>

            <button type="submit">Registrar</button>
        </form>
        <p>{{Mensaje_error}}</p>
        <p>¿Ya tienes una cuenta? <a href="{% url 'inicioSesion'%}">Inicia sesión</a></p>
    </div>
</body>
</html>
