<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control - Administrador</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/panelcontrol.css'%}">
</head>

<body>
    <section id="panel-control">
        <h2>Gestión de Actividades</h2>
        <div id="crear-actividad" class="accion-panel">
            <h3>Crear Nueva Actividad</h3>
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}

                <label for="fecha">Fecha de la actividad:</label>
                <input type="date" name="fecha" required>

                <label for="nombre">Nombre Actividad:</label>
                <input type="text" name="nombre" required>

                <label for="ubi">Ubicación:</label>
                <input type="text" name="ubi" required>

                <label for="hora">Horario actividad:</label>
                <input type="time" name="hora" required>

                <label for="precio">Precio:</label>
                <input type="number" name="precio" required>

                <label for="dni">DNI/Pasaporte:</label>
                <input type="text" name="dni" required>

                <input type="hidden" name="Control" value="Actividades">
                <input type="hidden" name="Form" value="Creación">
                <h2 id="{{Act0}}">Actividad creada con éxito</h2>

                <button type="submit">Crear</button>
            </form>
        </div>

        <div id="punto-interés" class="accion-panel">
            <h3>Puntos de interes de un destino</h3>
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}

                <label for="fecha">Fecha de la actividad:</label>
                <input type="date" name="fecha" required>

                <label for="nombre">Nombre Actividad:</label>
                <input type="text" name="nombre" required>

                <label for="puntos">Puntos de interes:</label>
                <input type="text" name="puntos" required>

                <input type="hidden" name="Control" value="Actividades">
                <input type="hidden" name="Form" value="PInteres">

                <h2 id="{{Act1}}">Punto de interés añadido con éxito</h2>
                <button type="submit">Añadir punto</button>
            </form>
        </div>
    </section>
</body>
</html>
